In [4]:
observed = [54,38,8]
expectation = [45,35,20]
x = sum([(o-e)**2./e for o,e in zip(observed,expectation)])
x

9.257142857142856

In [2]:
from scipy.stats import chi2
alpha = 0.05
df = 2
cr=chi2.ppf(q=1-alpha,df=df)

In [3]:
cr

5.991464547107979

# Anova

In [6]:
import pandas as pd
a=[25,25,27,30,23,20]
b=[30,30,21,24,26,28]
c=[18,30,29,29,24,26]
list_of_tuples = list(zip(a, b,c))
df = pd.DataFrame(list_of_tuples, columns = ['A', 'B', 'C'])
df

    A   B   C
0  25  30  18
1  25  30  30
2  27  21  29
3  30  24  29
4  23  26  24
5  20  28  26

In [7]:
import numpy as np
m1=np.mean(a)
m2=np.mean(b)
m3=np.mean(c)

print('Average mark for college A: {}'.format(m1))
print('Average mark for college B: {}'.format(m2))
print('Average mark for college C: {}'.format(m3))

Average mark for college A: 25.0
Average mark for college B: 26.5
Average mark for college C: 26.0

In [8]:
m=(m1+m2+m3)/3 
print('Overall mean: {}'.format(m))

Overall mean: 25.833333333333332

In [9]:
SSb=6*((m1-m)**2+(m2-m)**2+(m3-m)**2)
print('Between-groups Sum of Squared Differences: {}'.format(SSb))

Between-groups Sum of Squared Differences: 6.999999999999999

In [10]:
MSb=SSb/2
print('Between-groups Mean Square value: {}'.format(MSb))

Between-groups Mean Square value: 3.4999999999999996

In [11]:
err_a=list(a-m1)
err_b=list(b-m2)
err_c=list(c-m3)
err=err_a+err_b+err_c
ssw=[]
for i in err:
    ssw.append(i**2)
    
SSw=np.sum(ssw)

In [14]:
MSw=SSw/15
print('Within-group Mean Square value: {}'.format(MSw))

Within-group Mean Square value: 14.9

In [15]:
F=MSb/MSw 
print('F-score: {}'.format(F))

F-score: 0.23489932885906037

In [16]:
import scipy.stats as stats 
stats.f_oneway(a,b,c)

F_onewayResult(statistic=0.2348993288590604, pvalue=0.793504662732833)