Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

Duplicates Not Allowed
Sets cannot have two items with the same value.

In [1]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [2]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

In [3]:
print("Create a new set:")
x = set()
print(x)
print(type(x))
print("\nCreate a non empty set:")
n = set([0, 1, 2, 3, 4])
print(n)
print(type(n))
print("\nUsing a literal:")
a = {1,2,3,'foo','bar'}
print(type(a))
print(a)

Create a new set:
set()
<class 'set'>

Create a non empty set:
{0, 1, 2, 3, 4}
<class 'set'>

Using a literal:
<class 'set'>
{'bar', 1, 2, 3, 'foo'}

In [4]:
#Create a set 
num_set = set([0, 1, 2, 3, 4, 5])
for n in num_set:
    print(n, end=' ')
print("\n\nCreating a set using string:")
char_set = set("w3resource")  
# Iterating using for loop
for val in char_set:
    print(val, end=' ')

0 1 2 3 4 5

Creating a set using string:
c r u o w 3 e s

In [5]:
    #A new empty set
color_set = set()
print(color_set)
print("\nAdd single element:")
color_set.add("Red")
print(color_set)
print("\nAdd multiple items:")
color_set.update(["Blue", "Green"])
print(color_set)

set()

Add single element:
{'Red'}

Add multiple items:
{'Blue', 'Red', 'Green'}

In [6]:
num_set = set([0, 1, 3, 4, 5])
print("Original set:")
print(num_set)
num_set.pop()
print("\nAfter removing the first element from the said set:")
print(num_set)

Original set:
{0, 1, 3, 4, 5}

After removing the first element from the said set:
{1, 3, 4, 5}

In [8]:
#Create a new set
num_set = set([0, 1, 2, 3, 4, 5])
print("Original set elements:")
print(num_set)
print("\nRemove 0 from the said set:")
num_set.discard(4)
print(num_set)
print("\nRemove 5 from the said set:")
num_set.discard(5)
print(num_set)
print("\nRemove 2 from the said set:")
num_set.discard(5)
print(num_set)
print("\nRemove 7 from the said set:")
num_set.discard(15)setx = set(["green", "blue"])

SyntaxError: invalid syntax (Temp/ipykernel_6228/1603670436.py, line 15)

In [9]:
setx = set(["green", "blue"])
sety = set(["blue", "yellow"])
print("Original set elements:")
print(setx)
print(sety)
print("\nIntersection of two said sets:")
setz = setx & sety
print(setz)

Original set elements:
{'blue', 'green'}
{'yellow', 'blue'}

Intersection of two said sets:
{'blue'}

In [10]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
setc = setc1.union(setc2)
print("\nUnion of above sets:")
print(setc)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
print("\nUnion of above sets:")
setn = setn1.union(setn2)
print(setn)

Original sets:
{'blue', 'green'}
{'yellow', 'blue'}

Union of above sets:
{'yellow', 'blue', 'green'}

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Union of above sets:
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
r1 = setc1.difference(setc2)
print("\nDifference of setc1 - setc2:")
print(r1)
r2 = setc2.difference(setc1)
print("\nDifference of setc2 - setc1:")
print(r2)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1.difference(setn2)
print("\nDifference of setn1 - setn2:")
print(r1)
r2 = setn2.difference(setn1)
print("\nDifference of setn2 - setn1:")
print(r2)

Original sets:
{'blue', 'green'}
{'yellow', 'blue'}

Difference of setc1 - setc2:
{'green'}

Difference of setc2 - setc1:
{'yellow'}

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Difference of setn1 - setn2:
{2, 3, 4}

Difference of setn2 - setn1:
{8, 9, 6, 7}

In [13]:
setc1 = set(["green", "blue"])
setc2 = set(["blue", "yellow"])
print("Original sets:")
print(setc1)
print(setc2)
r1 = setc1.symmetric_difference(setc2)
print("\nSymmetric difference of setc1 - setc2:")
print(r1)
r2 = setc2.symmetric_difference(setc1)
print("\nSymmetric difference of setc2 - setc1:")
print(r2)
setn1 = set([1, 1, 2, 3, 4, 5])
setn2 = set([1, 5, 6, 7, 8, 9])
print("\nOriginal sets:")
print(setn1)
print(setn2)
r1 = setn1.symmetric_difference(setn2)
print("\nSymmetric difference of setn1 - setn2:")
print(r1)
r2 = setn2.symmetric_difference(setn1)
print("\nSymmetric difference of setn2 - setn1:")
print(r2)

Original sets:
{'blue', 'green'}
{'yellow', 'blue'}

Symmetric difference of setc1 - setc2:
{'yellow', 'green'}

Symmetric difference of setc2 - setc1:
{'yellow', 'green'}

Original sets:
{1, 2, 3, 4, 5}
{1, 5, 6, 7, 8, 9}

Symmetric difference of setn1 - setn2:
{2, 3, 4, 6, 7, 8, 9}

Symmetric difference of setn2 - setn1:
{2, 3, 4, 6, 7, 8, 9}

In [14]:
print("Check if a set is a subset of another set, using comparison operators and issubset():\n")
setx = set(["apple", "mango"])
sety = set(["mango", "orange"])
setz = set(["mango"])
print("x: ",setx)
print("y: ",sety)
print("z: ",setz,"\n")
print("If x is subset of y")
print(setx <= sety)
print(setx.issubset(sety))
print("If y is subset of x")
print(sety <= setx)
print(sety.issubset(setx))
print("\nIf y is subset of z")
print(sety <= setz)
print(sety.issubset(setz))
print("If z is subset of y")
print(setz <= sety)
print(setz.issubset(sety))

Check if a set is a subset of another set, using comparison operators and issubset():

x:  {'mango', 'apple'}
y:  {'mango', 'orange'}
z:  {'mango'}

If x is subset of y
False
False
If y is subset of x
False
False

If y is subset of z
False
False
If z is subset of y
True
True

In [15]:
setp = set(["Red", "Green"])
setq = set(["Green", "Red"])
#A shallow copy
setr = setp.copy()
print(setr)

{'Red', 'Green'}

In [16]:
setc = {"Red", "Green", "Black", "White"}
print("Original set elements:")
print(setc)        
print("\nAfter removing all elements of the said set.")
setc.clear()
print(setc)

Original set elements:
{'White', 'Red', 'Black', 'Green'}

After removing all elements of the said set.
set()

In [17]:
#Create a set
setn = {5, 10, 3, 15, 2, 20}
print("Original set elements:")
print(setn)
print(type(setn))
print("\nMaximum value of the said set:")
print(max(setn))
print("\nMinimum value of the said set:")
print(min(setn))

Original set elements:
{2, 3, 20, 5, 10, 15}
<class 'set'>

Maximum value of the said set:
20

Minimum value of the said set:
2